{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center"
  style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          <!-- Xin chào current_user.username  -->
        </h1>
        <p class="text-white mt-0 mb-5">Đây là trang hồ sơ của bạn. Bạn có thể xem tiến độ bạn đã đạt được với công việc
          của mình và quản lý các dự án hoặc nhiệm vụ được giao</p>
        <button id="btn-edit-profile" class="btn btn-neutral">Sửa hồ sơ cá nhân</button>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">

  <div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Sửa hồ sơ </h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <h6 class="heading-small text-muted mb-4">Thông tin tài khoản</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">Tên đăng nhập</label>
                  <input type="text" id="input-username" class="form-control" placeholder="Username" value="" readonly>
                  Duy
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-password">Mật khẩu</label>
                  <input type="text" id="input-password" class="form-control" placeholder="Password" value="" readonly>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Email</label>
                  <input type="email" id="input-email" class="form-control" placeholder="" readonly> duy@da.com
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Số điện thoại</label>
                  <input type="text" id="input-phonenumber" class="form-control" placeholder="" readonly> 0123456
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-fullname"> Họ và Tên </label>
                  <input type="text" id="input-fullname" class="form-control" placeholder="Họ và tên" value="" readonly>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Giới tính</label>
                  <select class="form-control" name="gender" id="gender" disabled>
                    {%for gender in gender %}
                    <option value="{{gender.value}}">{{gender.display_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Thông tin chức vụ công ty</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Phòng ban</label>
                  <select class="form-control" name="team" id="team" disabled>
                    {%for team in team %}
                    <option value="{{team.value}}">{{team.display_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Vị trí</label>
                  <select class="form-control" name="position" id="position" disabled>
                    {%for position in position %}
                    <option value="{{position.value}}">{{position.display_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <!-- Description -->
          <h6 class="heading-small text-muted mb-4">Thông tin trạng thái của tôi</h6>
          <div class="pl-lg-4">
            <div class="form-group">
              <label class="form-control-label">Thông tin trạng thái của tôi</label>
              <textarea rows="4" class="form-control"
                placeholder="Hãy viết một vài câu vào đây để lan tỏa đến mọi người ..."></textarea>
            </div>
          </div>
          <div class="btn-edit-profile-div-footer">
          </div>
        </form>
      </div>
    </div>

  </div>

  {% include "footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}