{% extends 'base.html' %}
{% block content %}
<form class="row g-3 needs-validation">
    <div class="mb-3">
        <label for="exampleInputNameProject" class="form-label">Tên dự án</label>
        <input type="text" class="form-control" id="exampleInputNameProject" required placeholder="Tên dự án">
        <!-- <div id="nameProjectHelp" class="form-text"></div> -->
        <div class="valid-feedback">

        </div>
        <div class="invalid-feedback">
            Vui lòng điền tên dự án tại đây!
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputDescriptionProject" class="form-label">Mô tả dự án</label>
        <textarea class="form-control" placeholder="Mô tả dự án" id="exampleInputDescriptionProject"
            style="height: 300px" required placeholder="Mô tả dự án"></textarea>
        <div class="invalid-feedback">
            Vui lòng điền mô tả dự án tại đây!
        </div>
        <!-- <div id="nameProjectHelp" class="form-text"></div> -->
    </div>

    <div class="mb-3">
        <select class="form-select" aria-label="Phòng ban">
            <option selected>Kế toán</option>
            <option value="1">Blockchain</option>
            <option value="2">Game</option>
            <option value="2">Kinh doanh</option>
        </select>
        <div class="invalid-feedback">
            Vui lòng chọn phòng ban
        </div>
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Chức vụ">
            <option selected>Nhân viên</option>
            <option value="1">Trưởng ban</option>
            <option value="2">Quản lý</option>
        </select>
        <div class="invalid-feedback">
            Vui lòng chọn chức vụ dự án!
        </div>
        <!-- <div id="nameProjectHelp" class="form-text"></div> -->
    </div>
    div class="mb-3">
    <label for="exampleInputStartProject" class="form-label">Ngày bắt đầu</label>
    <input type="date" class="form-control" id="exampleInputStartProject" name="exampleInputStartProject">
    <!-- <div id="nameProjectHelp" class="form-text"></div> -->
    </div>
    div class="mb-3">
    <label for="exampleInputEndProject" class="form-label">Hạn hoàn thành trước</label>
    <input type="date" class="form-control" id="exampleInputEndProject" name="exampleInputEndProject">
    <!-- <div id="nameProjectHelp" class="form-text"></div> -->
    </div>
    <div class="mb-3">
        <label for="exampleInputDeadlineProject" class="form-label">Hạn hoàn thành</label>
        <input type="date" class="form-control" id="exampleInputDeadlineProject" name="exampleInputDeadlineProject">
        <!-- <div id="nameProjectHelp" class="form-text"></div> -->
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
        Lưu sự thay đổi
    </button>
</form>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Bạn có chắc chắn muốn lưu sự thay đổi không ?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button type="button" class="btn btn-danger">Chắc chắn</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}