{% extends 'base.html' %}
{% block title %}Thêm công việc{% endblock%}
{% block content %}
<form class="needs-validation container mx-5 my-3 p-20 rounded-3" method="POST">
    <div class="col-12 p-3">
        <label for="exampleInputNameProject" class="form-label">Tên công việc</label>
        <input type="text" class="form-control" id="exampleInputNameProject" name="name" required placeholder="Tên công việc">
    </div>
    <div class="col-12 p-3">
        <label for="exampleInputNameProject" class="form-label">Tên dự án</label>
        <input type="text" class="form-control" id="exampleInputNameProject" name="name" required placeholder="Tên dự án">
    </div>
    <div class="col-12 p-3">
        <label for="exampleInputDescriptionProject" class="form-label">Mô tả công việc</label>
        <textarea class="form-control" placeholder="Mô tả công việc" id="exampleInputDescriptionProject"
            style="height: 300px" required placeholder="Mô tả công việc"></textarea>
        <div class="invalid-feedback">
            Vui lòng điền mô tả công việc tại đây!
        </div>
    </div>
    <div class="col-12 p-3">
        <label for="exampleInputTeamProject" class="form-label">Phòng ban</label>
        <div class="form-group">
            <select class="form-control" name="team" id="team">
                {%for team in team %}
                    <option value="{{team.value}}">{{team.display_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="invalid-feedback">
            Vui lòng chọn phòng ban
        </div>
    </div>
    <div class="col-12 p-3">
        <label for="exampleInputStartProject" class="form-label">Ngày bắt đầu</label>
        <input type="date" class="form-control" id="exampleInputStartProject" name="start_date">
    </div>
    <div class="col-12 p-3">
        <label for="exampleInputEndProject" class="form-label">Hạn hoàn thành</label>
        <input type="date" class="form-control" id="exampleInputEndProject" name="end_date">
    </div>
    <div class="col-12 p-3">
        <button type="submit" class="btn btn-primary">Thêm công việc</button>
    </div>
</form>
{% endblock %}